.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    margin: 10px;
}

.icon-check {
    color: #2596be;
    transition: all 0.3s ease;
}

.icon-check:hover {
    color: #be4d25;
    transition: 0.3s;
}

.icon-completed {
    color: #be4d25;
    transform: scale(1);
    transition: all 0.3s ease;
}

.icon-completed:hover {
    color: #2596be;
    transition: 0.3s;
}

.icon-delete {
    color: black;
    transition: 0.3s;
}

.icon-delete:hover {
    color: red;
    transition: 0.3s;
}