.icon {
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
}

.icon-check {
    color: #2596be;
    transition: all 0.3s ease;
}

.icon-check:hover {
    color: #be4d25;
    transition: 0.3s;
}

.icon-completed {
    color: #be4d25;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.icon-completed:hover {
    color: #2596be;
    transition: 0.3s;
}

.icon-delete {
    color: black;
    transition: 0.3s;
}

.icon-delete:hover {
    color: red;
    transition: 0.3s;
}