li {
    height: 3.5em;
    padding: 10px 0;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-info {
    text-align: left;
    width: 60%;
    align-content: center;
    text-align: center;
}

.task-info p {
    min-height: 18px;
    width: 90%;
    margin: 0
}

.icon {
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
}

.icon-check {
    color: #2596be;
    transition: 0.3s;
}

.icon-check:hover {
    color: #be4d25;
    transition: 0.3s;
}

.icon-check-active {
    color: #be4d25;
    transition: 0.3s;
}

.icon-check-active:hover {
    color: #2596be;
    transition: 0.3s;
}

.icon-delete {
    color: black;
    transition: 0.3s;
}

.icon-delete:hover {
    color: red;
    transition: 0.3s;
}

.task-item {
    font-size: 16px;
    transition: 0.3s;
}


.task-item-complete {
    text-decoration: line-through;
}