li {
    height: 3.5em;
    display: flex;
    flex-direction: row;
}

li div {
    width: 15%;
    align-content: center;
    text-align: center;
}

.task-info {
    text-align: left;
    width: 60%;
}

li p {
    width: 60%;
    padding-left: 1em;
}

.icon {
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
}

.icon-check {
    color: #2596be;
    transition: 0.3s;
}

.icon-check:hover {
    color: #be4d25;
    transition: 0.3s;
}

.icon-check-active {
    color: #be4d25;
    transition: 0.3s;
}

.icon-check-active:hover {
    color: #2596be;
    transition: 0.3s;
}

.icon-delete {
    color: black;
    transition: 0.3s;
}

.icon-delete:hover {
    color: red;
    transition: 0.3s;
}

.task-item {
    font-size: 16px;
    transition: 0.3s;
}

.task-item:hover {
    font-size: 18px;
    transition: 0.3s;
}


.task-item-complete {
    text-decoration: line-through;
}